* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {

    /* display: flex; */
    /* margin-top: 80px; */
    text-align: center;
    align-items: center;
    justify-content: space-around;

    border: 2px solid black;
    max-width: 70%;
    padding-left: 25px;
    padding-right: 25px;
    margin: 80px auto;
    background: rgb(255, 227, 208);
    border-radius: 20px;
}

body {
    background: url(https://images.pexels.com/photos/9376111/pexels-photo-9376111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.container1 h1 {
    /* flex-basis: 100%; */
    margin: 30px;
}

.container1 button {
    margin: 20px;
}

.flex-result {
    text-align: center;
    align-items: center;
    justify-content: space-around;

    border: 2px solid black;
    max-width: 70%;

}